<div class="wrapper">
  <div class="quiz-content">
    <p class="quiz-text">問題１：{{ quizList[1].quizText }}</p>
  </div>
  <div class="quiz-image-content">
    <!-- 画像テスト -->
    <!-- <iframe class="imgData-source" [src]="trustUrl" allow="autoplay"></iframe> -->
    <!-- 動画テスト -->
    <iframe class="quiz-image-frame" [src]="trustUrl" allow="autoplay"></iframe>
  </div>
  <div class="selection">
    <button
      mat-flat-button
      class="sl-btn"
      *ngFor="let ansOption of quizList[1].ansOptions"
      (click)="onSelected(ansOption)"
    >
      {{ ansOption }}
    </button>
  </div>
</div>
