<div class="wrapper">
  <div class="quiz-content">
    <p class="quiz-text">
      問題 {{ quizCount }} :
      {{ judgement.randomQuizList[judgement.randomQuizCount].quizText }}
    </p>
  </div>
  <div class="quiz-image-content">
    <iframe class="quiz-image-frame" [src]="trustUrl" allow="autoplay"></iframe>
  </div>
  <div class="selection">
    <button
      mat-flat-button
      class="sl-btn"
      *ngFor="
        let ansOption of judgement.randomQuizList[judgement.randomQuizCount]
          .ansOptions;
        index as i
      "
      (click)="onClickAnswer(i)"
    >
      {{ ansOption }}
    </button>
  </div>
</div>
