.wrapper {
  background-color: #eaf5f8;
  height: 100%;
  padding-top: 5%;

  .judgement {
    background-color: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #707070;
    text-align: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }

  .flex {
    display: flex;
    margin-top:4%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 80%;
    max-width: 960px;

    .answer-content {
      margin-left: auto;
      margin-right: auto;
      padding: 0 20px;
      width: 50%;
      height: 45vh;

      .ans-word {
        background-color: #f7f7f7;
        border: 1px solid #707070;
        margin: 4%;
      }

      .ans-exp {
        background-color: #f7f7f7;
        border: 1px solid #707070;
        height: 50%;
        margin: 4%;
      }
    }

    .answer-img {
      width: 50%;
      background-color: #f7f7f7;
    }
  }

  .next-btn {
    color: #707070;
    background-color: #a6d7ed;
    display: flex;
    margin: 0 auto;
    width: 24vw;
    margin-top: 8%;
    font-size: 2vw;
  }

  @media screen and (max-width: 600px) {
    .flex {
      flex-direction: column-reverse;
    }

    .answer-img {
      margin: auto;
      height: 250px;
    }

    .next-btn {
      width: 200px;
    }
  }
}
