<div class="wrapper">
  <div class="judgement">
    <p>{{ judgement.isCorrectAnswer ? "正解" : "不正解" }}</p>
  </div>
  <div class="flex">
    <div class="answer-content">
      <div class="ans-word">
        <p>{{ quizList[1].ansWord }}</p>
        <!-- {{ judgement.randomQuizList[judgement.randomQuizCount].ansWord }} -->
      </div>
      <div class="ans-exp">
        <p>{{ quizList[1].ansExp }}</p>
        <!-- {{ judgement.randomQuizList[judgement.randomQuizCount].ansExp }} -->
      </div>
    </div>
    <div class="answer-img">
      <iframe
        class="quiz-image-frame"
        [src]="trustUrl"
        allow="autoplay"
      ></iframe>
    </div>
  </div>
  <button mat-fab extended class="next-btn" (click)="nextQuiz()">次へ</button>
</div>
